gcp_project: my-project-20180101

tfstate: my-project-20180101-tfstate

CHARTMUSEUM_URL: https://charts.swarm.pw
CHARTMUSEUM_USERNAME: charts-admin
CHARTMUSEUM_PASSWORD: mxvHJCaB2T9gnZXMhPzJVDq8

project_owner_key: |
  <YOUR-BASE64-ENCODED-PRIVATE-KEY>

cloudflare_auth: |
  <YOUR-BASE64-ENCODED-CLOUDFLARE-CREDENTIALS>

tls_secrets: |
  <LETSENCRYPT-TLS-CERTS-BACKUP-BASE64-ENCODED>
