gcp_project: my-project-20180101

tfstate: my-project-20180101-tfstate

project_owner_key: |
  <YOUR-BASE64-ENCODED-PRIVATE-KEY>

cloudflare_auth: |
  <YOUR-BASE64-ENCODED-CLOUDFLARE-CREDENTIALS>

tls_secrets: |
  <LETSENCRYPT-TLS-CERTS-BACKUP-BASE64-ENCODED>
