*credentials.json
live/prod/*.json
config
.archive
.env
live/**/docker
**/*.htpasswd
**/.terraform/*
**/docker-config.json
charts/*/push.sh
!charts/drone/push.sh
backup/tls
site
.ssh

live/**/secrets

# .tfstate files
*.tfstate
*.tfstate.*
