*credentials.json
live/*/*.json
config
.archive
.env
live/**/docker
**/*.htpasswd
**/.terraform/*
**/docker-config.json
backup/tls
site
.ssh
.concourse/secrets/*.yml
backup/concourse/*

live/**/secrets

# .tfstate files
*.tfstate
*.tfstate.*
