{{- $releaseName := .Release.Name -}}
{{- $serviceName := default "nginx-webpage" .Values.nameOverride -}}
{{- $servicePort := .Values.servicePort -}}

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ template "nginx-webpage.fullname" . }}
  labels:
    app: {{ template "nginx-webpage.fullname" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ . }}
      http:
        paths:
          - backend:
              serviceName: {{ printf "%s-%s" $releaseName $serviceName | trunc 63 | trimSuffix "-" }}
              servicePort: {{ $servicePort }}
    {{- end -}}
{{- if .Values.ingress.tls }}
  tls:
{{ toYaml .Values.ingress.tls | indent 4 }}
{{- end -}}
